.admin-container {
  display: flex;
  height: 100vh;
  background: #fdf2f5;
  font-family: "Poppins", sans-serif;
}

/* SIDEBAR */
.admin-sidebar {
  width: 240px;
  background: #ffe4ec;
  padding: 20px;
}

.admin-sidebar h2 {
  color: #ff4d88;
}

.admin-sidebar ul {
  list-style: none;
  padding: 0;
}

.admin-sidebar li {
  padding: 12px;
  margin: 8px 0;
  cursor: pointer;
  border-radius: 8px;
}

.admin-sidebar li:hover {
  background: white;
}

/* MAIN */
.admin-main {
  flex: 1;
  padding: 20px;
}

/* NAVBAR */
.admin-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 20px;
  border-radius: 12px;
}

.admin-navbar input {
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid #ddd;
}

/* CARDS */
.admin-cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.admin-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  width: 200px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  font-size: 16px;
  font-weight: bold;
}

/* GRAPH */
.admin-graph {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 14px;
}

.fake-graph {
  height: 120px;
  background: linear-gradient(180deg,#ffb6c1,#ffe4ec);
  border-radius: 10px;
}

/* TABLE */
.admin-orders {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 14px;
}

.admin-orders table {
  width: 100%;
  border-collapse: collapse;
}

.admin-orders th, td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.shipped {
  color: green;
  font-weight: bold;
}

.pending {
  color: orange;
  font-weight: bold;
}

/* DASHBOARD GRID */
.admin-dashboard-grid {
  display: flex;
  gap: 20px;
}

/* LEFT DASHBOARD */
.admin-left {
  flex: 2.5;
}

/* RIGHT PANEL */
.admin-right-panel {
  flex: 1;
  background: #fff5f8;
  padding: 15px;
  border-radius: 14px;
}

/* ORDER SUMMARY */
.order-summary {
  background: white;
  padding: 15px;
  border-radius: 12px;
}

.order-item {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
  font-size: 14px;
}

.order-total {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 10px;
}

.place-order-btn {
  width: 100%;
  margin-top: 10px;
  background: #ff4d88;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

/* RIGHT PRODUCTS */
.right-products {
  margin-top: 15px;
}

.right-product-card {
  background: white;
  padding: 10px;
  border-radius: 12px;
  text-align: center;
  margin-bottom: 10px;
}

.right-product-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
