.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2937;
  color: white;
  padding: 15px 40px;
}

.navbar button {
  margin-left: 10px;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.navbar button:hover {
  background: #d1d5db;
}
.logo {
  cursor: pointer;
}